<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.1" targetFramework="net46" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="net46" />
  <package id="MySql.ConnectorNET.Entity" version="6.8.3.2" targetFramework="net46" />
  <package id="MySql.ConnectorNET.Web" version="6.8.3.2" targetFramework="net46" />
</packages>